<app-header />

<div class="container">
  <h1>Seus remédios</h1>

  @if (medslist() === null || medslist()?.length === 0) {
  <p>Você não tem nenhum remédio cadastrado.</p>
  <button class="btn" type="button" [routerLink]="['/newmed']">
    Novo remédio
  </button>
  } @else {
  <button class="btn" type="button" [routerLink]="['/newmed']">
    Novo remédio</button
  >@for (item of medslist(); track item.id) { @defer (on viewport) {
  <div class="list"><app-med-list [med]="item" /></div>
  } @placeholder {
  <p></p>
  } @loading {
  <p>Loading...</p>
  } @error {
  <p>Não foi possível carregar os dados.</p>
  } }
  <button class="btn" type="button" [routerLink]="['/newmed']">
    Novo remédio</button
  >}
</div>

<app-footer />
