<h1 mat-dialog-title>Horários</h1>
<a href="#" (click)="closeDialog(); $event.preventDefault()" class="close"
  ><img src="close.svg" alt="Fechar"
/></a>
<div mat-dialog-content>
  <div class="horarios">
    @for (group of data.times; track $index) {
    <hr />
    <h3>
      {{ group.date | date : "shortDate" }}
    </h3>
    <ul>
      @for (item of group.times; track $index) {
      <li>
        {{ item.dateTime | date : "shortTime" }}
      </li>
      }
    </ul>
    }
    <hr />
  </div>
</div>
