:host {
  display: flex;
  flex-direction: column;
  background-color: var(--lighter-grey);
  padding: 2rem;
  justify-content: left;
  align-items: center;
  position: relative;

  h1 {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
  }

  a {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}
