<section class="med-chip" aria-label="Medicamento">
  <div class="med-data" aria-label="Dados do medicamento">
    <h3>{{ med.name }}</h3>
    <p class="dose-full">Dosagem: {{ med.dosage }} {{ med.type }}</p>
  </div>

  <div class="med-time" aria-label="Horário">
    <p>{{ med.time | date : "shortTime" : "UTC" }}</p>
  </div>

  <div class="med-check" aria-label="Notas e confirmação">
    <div class="notes">
      <p><strong>Observações:</strong></p>
      <p>{{ med.notes }}</p>
    </div>
    <div class="input">
      <input
        type="checkbox"
        name="confirmado"
        id="med-confirm-{{ med.timeId }}-{{ med.id }}"
        aria-label="Confirmação"
      />
      <label for="med-confirm-{{ med.timeId }}-{{ med.id }}"></label>
    </div>
  </div>
</section>
