.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;

  cursor: pointer;
  transition: 0.5s;

  font-size: 1rem;

  background-color: var(--medium-grey);
  color: #fff;
  font-weight: 700;
}
