:host {
  header {
    display: flex;
    position: absolute;
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: var(--light-grey);

    nav {
      display: flex;
      width: 100%;

      ul {
        display: flex;
        position: relative;
        width: 100%;

        li {
          margin-right: 1rem;
        }

        .profile {
          position: absolute;
          margin: 0;
          right: 2rem;
        }
      }
    }
  }
}
