<header>
  <button
    type="button"
    id="toggle-menu"
    (click)="toggleMenu()"
    aria-label="Menu icon"
  >
    <img src="menu.svg" alt="" />
  </button>
  <nav aria-label="Navegação principal" [ngClass]="{ show: isMenuVisible }">
    <ul>
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/meds">Remédios</a></li>
      <li><a href="/doctors">Médicos</a></li>
      <div class="profile">
        <li><a href="">Nome</a></li>
        <img src="user.svg" alt="" />
      </div>
    </ul>
  </nav>
</header>
