<header>
  <button
    type="button"
    id="toggle-menu"
    (click)="toggleMenu()"
    aria-label="Menu icon"
  >
    <img src="menu.svg" alt="" />
  </button>
  <nav aria-label="Navegação principal" [ngClass]="{ show: isMenuVisible }">
    <ul>
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/meds">Remédios</a></li>
      <li><a href="/doctors">Médicos</a></li>
      <li><a href="/user">Perfil</a></li>
      <li class="logout-link"><a href="/">Sair</a></li>
      <div class="profile">
        <li><a href="/user">Perfil</a></li>
        <li><a href="/">Sair</a></li>
        <a href="/user">
          <img src="user.svg" alt="Perfil" />
        </a>
        <div class="logout">
          <a href="/">
            <img src="logout.svg" alt="Logout" />
          </a>
        </div>
      </div>
    </ul>
  </nav>
</header>
