body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--white);
}

html {
  font-size: 18px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
