:host {
  details {
    width: 80vw;
    position: relative;
    overflow: hidden;

    summary,
    article {
      background-color: var(--lighter-grey);
      border-radius: 6rem;
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      justify-content: start;
      align-items: center;

      .responsive-info {
        display: none;
      }
    }

    summary {
      cursor: pointer;
      padding: 2rem;
    }

    article {
      align-items: first baseline;
    }

    &[open] {
      summary {
        border-radius: 6rem 6rem 0 0;
        .less {
          display: inline;
        }

        .more {
          display: none;
        }
      }

      article {
        border-radius: 0 0 6rem 6rem;
      }
    }

    &:not([open]) {
      summary {
        .more {
          display: inline;
        }

        .less {
          display: none;
        }
      }
    }

    article {
      background-color: var(--off-white);
    }

    .more,
    .less {
      position: absolute;
      right: 2rem;
    }
  }

  ul {
    padding: 0;
  }

  @media (max-width: 769px) {
    details {
      summary,
      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
      }

      article {
        gap: 5px;
      }
    }
  }

  @media (max-width: 480px) {
    .indication,
    .prescription,
    .isActive {
      display: none;
    }

    article {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      .responsive-info {
        display: inline !important;
      }

      ul {
        padding-bottom: 2rem;
      }
    }
  }
}
