<app-header />

<div class="container">
  <h1>Novo remédio</h1>

  <form action="" method="post" #form="ngForm" (ngSubmit)="submitMedication()">
    <div class="form-div">
      <div>
        <div>
          <label for="name">Nome do remédio</label>
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="newMedication.Name"
            placeholder="Nome do remédio"
            oninvalid="alert('O nome do remédio é obrigatório.');"
            required
            minlength="2"
            maxlength="255"
          />
        </div>
        <div>
          <label for="lab">Laboratório</label>
          <input
            type="text"
            name="lab"
            id="lab"
            [(ngModel)]="newMedication.Lab"
            placeholder="Laboratório"
            maxlength="255"
          />
        </div>

        <div>
          <label for="doctor">Prescrito por:</label>
          <select
            name="doctor"
            id="doctor"
            [(ngModel)]="newMedication.DoctorId"
            (change)="onDoctorChange($event)"
            class="dropdown"
            required
          >
            <option value="" disabled selected>Escolha um médico</option>
            @for (doctor of docsList; track doctor.id) {
            <option [value]="doctor.id">
              {{ doctor.name }} - {{ doctor.specialty }}
            </option>
            }
          </select>
        </div>
      </div>

      <div>
        <div>
          <label for="dosage">Dosagem</label>
          <input
            type="text"
            name="dosage"
            id="dosage"
            [(ngModel)]="newMedication.Dosage"
            placeholder="Dosagem"
            required
            minlength="2"
            maxlength="255"
          />
        </div>
        <div>
          <label for="type">Tipo</label>
          <select
            name="type"
            id="type"
            class="dropdown"
            [(ngModel)]="newMedication.Type"
            (change)="onMedTypeChange($event)"
            class="dropdown"
            required
          >
            <option value="" disabled selected>Via de administração</option>
            @for (item of medTypes; track item) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <div>
          <label for="indicatedFor">Indicação:</label>
          <input
            type="text"
            name="indicatedFor"
            placeholder="O que esse remédio trata?"
            [(ngModel)]="newMedication.IndicatedFor"
          />
        </div>
      </div>
      <div class="dates">
        <div>
          <label class="label-show" for="start">Data de início:</label>
          <input
            type="date"
            name="start"
            id="start"
            [(ngModel)]="newMedication.Start"
            required
            min="2023-01-01"
            max="2026-12-30"
          />
        </div>
        <div>
          <label class="label-show" for="end">Data de fim:</label>
          <input
            type="date"
            name="end"
            id="end"
            [(ngModel)]="newMedication.End"
            min="{{ newMedication.Start + 1 }}"
            max="2026-12-31"
          />
        </div>
      </div>

      <div>
        <label class="label-show" for="frequency">Quantas vezes por: </label>
        <select
          name="frequency"
          id="frequency"
          [(ngModel)]="newMedication.FrequencyType"
          (change)="onFrequencyTypeSelect($event)"
          required
        >
          <option selected disabled>Escolha a frequência</option>
          @for (item of frequencyOptions; track item) {
          <option [value]="item.value">
            {{ item.label }}
          </option>
          }
        </select>
        <label for="recurrency"></label>
        <input
          type="number"
          name="recurrency"
          id="recurrency"
          [(ngModel)]="newMedication.Recurrency"
          required
          min="1"
          max="30"
        />
        <div>
          <button
            class="times-btn"
            type="button"
            class="btn"
            (click)="openDialog()"
          >
            Adicionar horários
          </button>
        </div>
      </div>
      <div class="notes">
        <label for="notes">Observações</label>
        <textarea
          name="notes"
          id="notes"
          rows="4"
          cols="20"
          [(ngModel)]="newMedication.Notes"
          placeholder="Observações"
        ></textarea>
      </div>
    </div>

    <button type="submit" class="btn">Salvar</button>
  </form>
</div>
