:root {
  // colors
  --black: #0d0a00;
  // --dark-grey: #333;
  // --medium-grey: #666;
  // --light-grey: #999;
  --lighter-grey: #d9d9d9;
  --primary-green: #257a6b;
  --secondary-green: #208c81;
  --pink: #b8286e;
  --white: #fff;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 32px;
  color: var(--black);
}

h2,
h3 {
  font-size: 28px;
  color: var(--black);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

.mat-mdc-dialog-component-host {
  background-color: var(--lighter-grey) !important;
}
