:host {
  .container {
    margin-top: 100px;

    p {
      margin: 6rem 0;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .btn-div {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  @media (max-width: 769px) {
    .btn-div {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .btn-div {
      display: flex;
      flex-direction: column;

      .btn {
        padding: 1rem 0.5rem;
      }
    }
  }
}
