<app-header />

<div class="container">
  <h1>Remédios do dia</h1>

  @if (medslist === null || medslist === []) {
  <p>Você não precisa tomar nenhum remédio hoje!</p>
  } @else { @for (item of medDayTimes(); track item.id) {
  <div class="meds">
    <app-day-medication-chip [med]="item"></app-day-medication-chip>
  </div>
  } }

  <div class="btn-div">
    <button type="button" class="btn" [routerLink]="['/newmed']">
      Novo remédio
    </button>
    <button type="button" class="btn" [routerLink]="['/meds']">
      Ver todos
    </button>
  </div>
</div>

<app-footer />
