<app-header />

<div class="container">
  <h1>Remédios do dia</h1>

  <!-- <div><app-day-medication-chip /></div> -->

  @if (medslist() === null) {
  <p>Você não precisa tomar nenhum remédio hoje!</p>
  } @else { @for (item of medslist(); track item.id) {
  <div class="meds">
    <app-day-medication-chip [med]="item"></app-day-medication-chip>
  </div>
  } }

  <div class="btn-div">
    <button type="button" class="btn">Novo remédio</button>
    <button type="button" class="btn">Ver todos</button>
  </div>
</div>
